<div class="input-group mb-sm-2">
  <input id="technician-input" class="form-control rounded" placeholder="Search by name, street, place, ..."
    #technicianInput (keyup)='filterAcademies(technicianInput.value)'>
  <button class="btn btn-success rounded ml-3">Search</button>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" #checkboxHQ (change)="filterHQ(checkboxHQ.checked)">
    </div>
  </div>
  <label type="text" class="form-control">Filter HQ's</label>
</div>

<hr>

<table id="table-academies" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">House No.</th>
      <th scope="col">Place</th>
      <th scope="col">HQ?</th>
    </tr>
  </thead>
  <tbody id="allAcademies">
    <tr *ngFor='let academy of academies' (click)=findAcademy(academy.academy_id) data-toggle='modal'
      data-target='#exampleModal'>
      <td class="academyId">{{academy.academy_id}}</td>
      <td class="academyName">{{academy.academy_name}}</td>
      <td class="academyStreet">{{academy.academy_street}}</td>
      <td class="academyHouseNumber">{{academy.academy_house_number}}</td>
      <td class="academyPlaceId">{{academy.academy_place_name}}</td>
      <td>
        <div *ngIf="academy.academy_headquarter=='0'; else elseBlock">No</div>
        <ng-template #elseBlock>Yes</ng-template>
      </td>
    </tr>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </tbody>
</table>
