<div class="container">
  <div class="row">
    <div class="col-8">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink='/dispatcher/academies' routerLinkActive="active-link">Academies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dispatcher/technicians" routerLinkActive="active-link">Technicians</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dispatcher/logs" routerLinkActive="active-link">Logs<span
              class="badge badge-danger">4</span></a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="nav nav-pills justify-content-end">
        <li class="list-item">
          <a class="nav-link" href=".">
            <small>Logged in as {{user.user_first_name}} {{user.user_last_name}}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <h3>Page under construction...</h3>
</div>
