<header class="fixed-top">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="home">
      <img id="logo" src="../../assets/logos/logo_orange.png" width="30" height="30" alt="">
      <p class="float-right">Patrimonium</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <hr>
      <hr>
      <hr>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pricing" routerLinkActive="active-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Get in touch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="technician/academies">Technician</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dispatcher/academies">Dispatcher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="manager">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link">Log in</a>
        </li>
      </ul>
    </div>
    <!-- <div id="logged-in-wrapper" class="row">
      <label>Logged in as: {{}}</label>
    </div> -->
  </nav>
</header>
