$primary-blue: #292d3e;
$primary-orange: rgb(230, 88, 23);
$primary-yellow: rgb(229, 255, 0);
$font-text: 'Poppins';

header {
  font-family: $font-text, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  color: hsl(211, 100%, 50%);
  background-color: white;
  border-bottom: 2px solid hsl(211, 100%, 50%);

  #logo {
    margin: 5px;
  }

  a {
    color: hsl(211, 100%, 50%);
  }



  .active-link {
    color: white;
    background-color: orangered;
    border: white;
    border-radius: 5px;
  }

  li {
    display: inline-block;
    align-items: right;
  }

  li:hover {
    :hover {
      text-decoration: unset;
    }
  }

  button hr {
    margin: 5px 5px;
    width: 20px;
    background-color: $primary-orange;
  }
}
