<header>
  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logos/logo_orange.png" width="30" height="30" alt="">
      Patrimonium
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Get in touch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Log in</a>
      </li>
    </ul>
  </nav>
</header>
