footer {
  width: 100%;
  text-align: center;
  color: white;
  border-top: 1px solid lightgray;
  background-color: rgba(0, 0, 0, 0.561);

  p {
    color: white;
  }

  a {
    color: white;
  }
}

.fab {
  margin-right: 2vw;
  /* width: 10px;
  height: 10px; */
  font-weight: 900;
}
