$primary-blue: #292d3e;
$primary-orange: rgb(230, 88, 23);
$font-text: 'Poppins';

footer {
  width: 100%;
  text-align: center;
  color: blue;
  border-top: 2px solid blue;
  background-color: white;
  font-family: $font-text;

  p {
    color: blue;
  }

  a {
    color: blue;
  }

  a:hover {
    text-decoration: underline;

  }
}

.fab {
  margin-right: 2vw;
  font-weight: 900;
  color: blue;
}
