<div class="row" *ngIf="currentAcademy$ | async as academy">
  <h2 class="title">{{academy[0].academy_name}} - {{academy[0].academy_place_name}}</h2>
</div>

<hr>

<div class="row">
  <h4 class="title">Instruments</h4>
  <table id="table-pianos" class="table table-striped mt-3" *ngIf="currentAcademyPianos$ | async as pianos">
    <thead class="thead-dark">
      <tr class="small">
        <th scope="col">PianoID</th>
        <th scope="col">Sort</th>
        <th scope="col">Brand</th>
        <th scope="col">Type</th>
        <th scope="col">Serial No.</th>
        <th scope="col">Room</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody id="allPianos" class="border">
      <tr class="small" [attr.id]="'Piano_' + piano.piano_id" *ngFor='let piano of pianos'>
        <td class="pianoID">#{{piano.piano_id}}</td>
        <td class="pianoSort">{{piano.piano_sort}}</td>
        <td class="pianoBrand">{{piano.piano_brand}}</td>
        <td class="pianoType">{{piano.piano_type}}</td>
        <td class="pianoSerialNumber">{{piano.piano_serial_number}}</td>
        <td class="pianoRoom">{{piano.piano_room}}</td>
        <td>
          <button type="button" class="btn btn-link btn-sm" data-toggle="modal"
            [attr.data-target]="'#Modal_comment_' + piano.piano_id">
            <i class="far fa-comment"></i>
          </button>
          <div class="modal fade" [attr.id]="'Modal_comment_' + piano.piano_id" tabindex="-1" role="dialog"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">{{piano.piano_brand}}
                    {{piano.piano_type}} ({{piano.piano_serial_number}}) - {{piano.piano_sort}}
                  </h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="col-4">
                            <h4 class="mt-3 title">Latest intervention</h4>
                          </div>
                          <div class="col-4">
                            <button class="btn btn-primary mt-3 " (click)="getInterventions(piano.piano_id)">
                              <i class="fas fa-sync"></i>
                            </button>
                          </div>
                          <table id="piano_details" class="table table-striped mt-3 ml-3"
                            *ngIf='pianoLogs$ | async as logs'>
                            <thead class="thead-dark">
                              <th scope="col">LogID</th>
                              <th scope="col">Date</th>
                              <th scope="col">Technician</th>
                              <th scope="col">Tuning</th>
                              <th scope="col">Regulation</th>
                              <th scope="col">Intonation</th>
                              <th scope="col">Comment</th>
                            </thead>
                            <tbody>
                              <tr *ngFor='let log of logs'>
                                <td class="log_id">{{log.log_id}}</td>
                                <td class="log_date">{{log.log_date}}</td>
                                <td class="log_technician">{{log.log_user_username}}</td>
                                <td class="log_tuning" *ngIf='log.log_tuning===1; else tuningNo'>Yes</td>
                                <ng-template #tuningNo>
                                  <td class="log_tuning">No</td>
                                </ng-template>
                                <td class="log_regulation" *ngIf='log.log_regulation===1; else regulationNo'>Yes</td>
                                <ng-template #regulationNo>
                                  <td class="log_regulation">No</td>
                                </ng-template>
                                <td class="log_intonation" *ngIf='log.log_intonation===1; else intonationNo'>Yes</td>
                                <ng-template #intonationNo>
                                  <td class="log_intonation">No</td>
                                </ng-template>
                                <td class="log_comment">{{log.log_comment}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <hr>
                      <h4 class="title">New intervention</h4>
                      <div class="col-12 form-group">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" #tuning
                            [attr.id]="'piano_' + piano.piano_id + '_tuning'" value="tuning">
                          <label class="form-check-label" for="checkbox_tuning">Tuning</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" #regulation
                            [attr.id]="'piano_' + piano.piano_id + '_regulation'" value="regulation">
                          <label class="form-check-label" for="checkbox_regulation">Regulation</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" #intonation
                            [attr.id]="'piano_' + piano.piano_id + '_intonation'" value="intonation">
                          <label class="form-check-label" for="checkbox_intonation">Intonation</label>
                        </div>
                        <textarea class="form-control mt-3" #comment [attr.id]="'piano_' + piano.piano_id + '_comment'"
                          placeholder="Enter comment here..." autofocus></textarea>
                        <button
                          (click)='postIntervention(tuning.checked, regulation.checked, intonation.checked, comment.value, piano.piano_id)'
                          class="btn btn-success btn-small mt-3">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm" data-toggle="modal"
            [attr.data-target]="'#Modal_edit_' + piano.piano_id">
            <i class="fas fa-edit"></i>
          </button>
          <div class="modal fade" [attr.id]="'Modal_edit_' + piano.piano_id" tabindex="-1" role="dialog"
            [attr.aria-labelledby]="'ModalLabel_' + piano.piano_id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">{{piano.piano_brand}}
                    {{piano.piano_type}} ({{piano.piano_serial_number}}) - {{piano.piano_sort}}
                  </h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <h4>Edit piano</h4>
                      <p>Change room from "{{piano.piano_room}}" to:</p>
                      <input class="form-control" type='text' #updateRoomInput>
                      <button class="btn btn-success btn-small mt-3"
                        (click)='updateRoom(piano.piano_id, piano.piano_room, updateRoomInput.value)'
                        data-dismiss="modal">Update</button>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
  </table>
</div>
