.container {
  margin: 0 !important;
  padding: 0 !important;
}

#filterHQ {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.add_academy_label {
  width: 100px;
}

#academy-info-list {
  list-style-type: none;

  .academy-info {
    i {
      display: inline;
    }

    .fa-map-marker-alt {
      color: rgb(246, 66, 1)
    }

    .fa-phone {
      color: rgba(255, 230, 0, 0.952);
    }

    .fa-envelope {
      color: rgb(2, 206, 2);
    }

    label {
      font-size: medium;
    }
  }
}
