// IMPORTS
@import 'variables';

body {
  margin: 0;
  font-family: $font-text, sans-serif !important;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 'header router footer';
}

::-webkit-scrollbar {
  display: none;
}
