<div class="container">
  <div class="d-flex row">
    <div class="col-12">
      <h1 class="animate infinite bounce delay-2s">Patrimonium</h1>
      <h4>The online management tool for your service department.</h4>
      <hr />
    </div>
    <div class="col-4">
      <h5><b>"As easy as pie"</b></h5>
      <i
        class="fas fa-birthday-cake fa-4x"
        style="color: rgb(0, 102, 255);"
      ></i>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. <br /><br />Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="col-4">
      <h5><b>"Custom made"</b></h5>
      <i
        class="fas fa-balance-scale fa-4x"
        style="color: rgb(255, 102, 0);"
      ></i>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud <b>exercitation</b> ullamco laboris nisi ut aliquip
        ex ea commodo consequat. <br /><br />Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
    </div>
    <div class="col-4">
      <h5><b>"Report like a pro"</b></h5>
      <i class="fas fa-list-ol fa-4x" style="color: rgb(71, 177, 0);"></i>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. <br /><br />Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
</div>
